name: publish-maven

on:
  workflow_run:
    workflows: ["docs"]
    types: [completed]
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: gh-pages
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha || github.sha }}

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - uses: gradle/actions/setup-gradle@v3

      - name: Publish to local gh-pages folder
        run: |
          chmod +x ./gradlew
          ./gradlew publish -Ppublish_repo=$GITHUB_WORKSPACE/maven -Pskip_shadow_publish=true

      - name: Publish to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: maven
          destination_dir: maven
          keep_files: true
